<!--<!DOCTYPE html>-->
<!--<html lang="kz">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Красоты Казахстана</title>-->
<!--    <style>-->
<!--        body, html {-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            height: 100%;-->
<!--            overflow: hidden; /* Скрывает прокрутку для видео */-->
<!--        }-->
<!--        .video-container {-->
<!--            position: relative;-->
<!--            width: 100%;-->
<!--            height: 100%;-->
<!--        }-->
<!--        video {-->
<!--            position: absolute;-->
<!--            top: 50%;-->
<!--            left: 50%;-->
<!--            min-width: 100%;-->
<!--            min-height: 100%;-->
<!--            width: auto;-->
<!--            height: auto;-->
<!--            transform: translate(-50%, -50%);-->
<!--            z-index: -1;-->
<!--        }-->
<!--        .content {-->
<!--            position: relative;-->
<!--            z-index: 1;-->
<!--            color: white;-->
<!--            text-align: center;-->
<!--            padding: 20px;-->
<!--            background: rgba(0, 0, 0, 0.5);-->
<!--        }-->
<!--        .scrollable {-->
<!--            height: 100vh; /* Высота на весь экран */-->
<!--            overflow: auto; /* Позволяет прокрутку */-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <div class="video-container">-->
<!--        <video autoplay muted loop>-->
<!--            <source src="{% static 'main/mp4/Волчий водопад. КХ Байкула. БАМ. Актобе облысы, Казахст - Trim.mp4' %}" type="video/mp4">-->
<!--            Сіздің браузеріңіз бейнені қолдамайды.-->
<!--        </video>-->
<!--        <div class="scrollable">-->
<!--            <div class="content">-->
<!--                <h1>Wolf Falls</h1>-->
<!--                <big>Эбита өзені шатқалындағы сарқырама 70-жылдары жасалған-->
<!-- өткен ғасырда Ұлы Ащылысай теңізінің суын бұру ретінде.-->
<!-- Аңыз бойынша, көктемгі су тасқыны кезінде мұнда бір қасқыр келді-->
<!-- қасқырдың күшіктері. Ол өз күшіктерін борандатып өткеруге тырысты-->
<!-- ағын, бірақ оларды су шайып кетті. Қасқыр аман қалды, содан бері ол аман қалды-->
<!-- түн шатқалға кіріп, айқайлайды. Бұл рас па, жоқ па, бірақ әңгімелер бойынша-->
<!-- демалушылар, олар өлген қасқырлар туралы ананың айқайын бірнеше рет естіген.</big>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->
